@model List<ContosoUniversity.Models.Student>
@{
    ViewBag.Title = "Students";
}
<h2>Students</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <button type="button"
            id="customReport"
            class="btn btn-primary">
        Show Custom Report
    </button>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Assets</h1>
            </div>
            <div class="panel-body">
                <table id="students-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Enrollment Date</th>
                            <th>Age</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.ID</td>
                                <td>@student.FirstMidName</td>
                                <td>@student.LastName</td>
                                <td>@student.EnrollmentDate.ToString("MM/dd/yyyy")</td>
                                <td>@student.Age</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = student.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = student.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = student.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="divStudentsReport"></div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#customReport").on('click', function () {
                $.ajax({
                    url: "/contosouniversity/api/students/report/getstudentsage",
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#divStudentsReport').empty();
                        if (data && data.length > 0) {
                            var table = $('<table id="tblfiles" class="table table-responsive table-bordered table-condensed" border="0" width="50%"><tr><th>Id</th><th>First Name</th><th>Last Name</th><th>Age</th></tr></table>');
                            for (var count = 0; count < data.length; count++) {
                                var studentInfo = data[count];
                                var tr = $("<tr>");
                                $('<td />', {
                                    text: studentInfo["ID"]
                                }).appendTo(tr);

                                $('<td />', {
                                    text: studentInfo["FirstMidName"]
                                }).appendTo(tr);

                                $('<td />', {
                                    text: studentInfo["LastName"]
                                }).appendTo(tr);

                                $('<td />', {
                                    text: studentInfo["Age"]
                                }).appendTo(tr);
                                table.append(tr);
                            }
                            $('#divStudentsReport').append(table);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
            $('#students-data-table').DataTable({ autoFill: true });
        });
    </script>
}